body {
  /* Prevent scrolling */
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  /* mobile webkit */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

img {
  pointer-events: none;
}