<style>
.banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--accent-color);
  overflow: hidden;
  white-space: nowrap;
}

.banner a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.banner a:visited {
  color: black;
}

.banner p {
  display: inline-block;
  padding-left: 100%;
  animation: banner-slide 45s linear infinite;
  /* Enable GPU acceleration */
  transform: translateZ(0);
}

</style>
<p>
🏗️ v0.1.{{ "now" | date: "%y%m" }}-rc: Bug fixes and performance improvements. 🏗️
{% for i in (1..75) %}
&nbsp;
{% endfor %}
{% for log in site.data.changelog limit: 4 %}
{{ log.emoji }} {{ log.version }}: {{ log.description }} {{ log.emoji }}
{% for i in (1..75) %}
&nbsp;
{% endfor %}
{% endfor %}
</p>