<a href="{% link _chantiers/2025/CHANGELOG.md %}"><p>
  v{{ "now" | date: "%Y.%m" }}-rc: Bug fixes and performance improvements.
  {% for i in (1..20) %}
  &nbsp;
  {% endfor %}
  •
  {% for i in (1..20) %}
  &nbsp;
  {% endfor %}
  {% for log in site.data.changelog limit: 4 %}
  v{{ log.date | date: "%Y.%m" }}: {{ log.description }}
  {% for i in (1..20) %}
  &nbsp;
  {% endfor %}
  •
  {% for i in (1..20) %}
  &nbsp;
  {% endfor %}
  {% endfor %}
  </p>
</a>

<style>
.banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--accent-color);
  overflow: hidden;
  white-space: nowrap;
}

.banner a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.banner a:visited {
  color: black;
}

.banner p {
  display: inline-block;
  padding-left: 100%;
  animation: banner-slide 45s linear infinite;
  /* Enable GPU acceleration */
  transform: translateZ(0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: #4f4742;
  } 

  .banner {
    background-color: #4f4742;
  }
  .banner, .banner a, .banner p {
    color: #ffffff;
  }
}
</style>