<head>
    <meta charset="{{ site.encoding }}">
    <meta http-equiv="Content-Type" content="text/html;charset={{ site.encoding }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ site.title | append: site.title_separator | append: page.title }}</title>

    <meta name="description" content="{{ site.description }}">
    <meta name="language" content="{{ site.language }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="theme-color" content="{{ site.theme-color }}">

    <meta itemprop="name" content="{{ site.name }}">
    <meta itemprop="description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description }}{% endif %}">
    <meta itemprop="image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ site.default_img | absolute_url }}{% endif %}">

    <link type="application/atom+xml" rel="alternate" href="https://blog.dufour.xyz/feed.xml" title="Souvenirs of an Electric Co."/>

{% if layout.css %}
    {% for item in layout.css %}
    <link rel="stylesheet" href="{{ item | prepend: '/assets/css/' | relative_url }}" type="text/css" />
    {% endfor %}
{% endif %}

{% if page.css %}
    {% for item in page.css %}
    <link rel="stylesheet" href="{{ item | prepend: '/assets/css/' }}" type="text/css" />
    {% endfor %}
{% endif %}

{% if page.header_raw_inject %}
    {% for item in page.header_raw_inject %}
    {{ item }}
    {% endfor %}
{% endif %}

    <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">

    {% seo %}
</head>
