<div id="random-image-container"></div>

<style>
  #random-image-container {
    margin: 20px 0;
  }

  #random-image-container img {
    border: 1px solid black;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const images = [
      {{ include.images }}
    ];
    
    const container = document.getElementById('random-image-container');
    let autoRefreshTimer;
    
    function displayRandomImage() {
      if (images.length > 1) {
        const randomIndex = 1 + Math.floor(Math.random() * (images.length - 1));
        [images[0], images[randomIndex]] = [images[randomIndex], images[0]];
      }
      const img = document.createElement('img');
      img.src = images[0];
      container.innerHTML = '';
      container.appendChild(img);
      clearTimeout(autoRefreshTimer);
      autoRefreshTimer = setTimeout(displayRandomImage, 15000);
    }
    displayRandomImage();
    container.addEventListener('click', displayRandomImage);
  });
</script>

