body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    --border-color: black;
}

h1 {
    word-wrap: break-word;
}

metadata {
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex: 0 0 400px;
    min-width: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

metadata h2 {
    margin-bottom: 0;
}

metadata h2 + p {
    margin-bottom: 0;
}

data {
    box-sizing: border-box;
    min-width: 400px;
    flex: 1;
}

/* Simple table styling */
data table {
    width: 100%;
    margin: 1em 0;
    table-layout: auto;
    border-collapse: collapse;
}

data table th {
    white-space: nowrap;
    vertical-align: top;
    text-align: left;
    padding-left: 2em;
}

data table td {
    padding-top: 0.5em;
    padding-left: 2em;
    word-wrap: break-word;
    vertical-align: top;
}

data table tbody tr:last-child td {
    border-bottom: none;
}

data table td > div {
    margin-top: 0 !important;
    text-align: left !important;
}

metadata table {
    width: 100%;
    border-spacing: 0;
    table-layout: auto;
    margin-bottom: 1em;
}

metadata th {
    text-align: right;
    padding-right: 10px;
    width: 1%;
    /* column as small as possible */
    white-space: nowrap;
    /* Prevents th text from wrapping */
    vertical-align: top;
}

metadata td {
    width: 99%;
    /* This forces td to take most of the space */
    word-wrap: break-word;
}

metadata .href th {
    font-weight: normal;
}

.href {
    margin-top: 1em;
}

img {
    max-width: 500px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 900px) {
    body {
        display: block;
    }
    
    metadata {
        border-right: none;
        border-bottom: 1px solid var(--border-color);
        flex: none;
        min-width: 0;
        max-width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    
    data {
        display: block;
        flex: none;
    }
}

@media screen and (max-width: 400px) {
    body {
        display: flex;
        flex-direction: column;
    }
    
    metadata {
        width: auto;
        min-width: 0;
        max-width: 100%;
        flex: 0 0 auto;
    }
    
    data {
        width: 100%;
        min-width: 0;
        max-width: 100%;
        flex: 0 1 auto;
    }
}