body {
  font-family: Helvetica, Arial, sans-serif;
}

a:link {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a,
a:visited {
  text-decoration: underline;
  color: inherit;
}

ul {
  list-style-type: square;
  text-align: left;
}
