---
layout: chantier
---

<style>
article {
    max-width: 600px;
}
</style>

<!-- Browser reader -->
<article itemscope itemtype="http://schema.org/Article">
    <header style="display:none;">
      <h1 itemprop="headline">{{ page.title }}</h1>
      <h2 itemprop="alternativeHeadline">{{ page.subtitle }}</h2>
      <div class="byline">
        <time datetime="{{ page.ended | time_tag }}" itemprop="datePublished">{{ page.ended | date: "%b, %-d %Y" }} — </time>
        <span itemprop="locationCreated">{{ page.location }}</span>
        <p itemprop="author">{{ page.author }}</p>
      </div>
    </header>
    
    <div itemprop="articleBody">
      {{ content }}
    </div>
</article>
