---
layout: blank
css:
  - style.css

# Arguments
p5js: "1.4.2"
title: title
started: 2019-03-06 11:04
finished: 2019-03-06 11:04
archived: 2019-03-06 11:04
open_to_public: false
featured: false
location: Paris
---

{% assign finished_sec = page.started  | date: '%s' %}
{% assign started_sec  = page.finished | date: '%s' %}
{% assign seconds_diff = started_sec | minus: finished_sec %}
{% assign days_diff = seconds_diff | divided_by: 86400 %}

<h1><a href="{% link _chantiers/2024/lobby/index.md %}">←</a> {{ page.title }}</h1>

<ul>
  <li>Started: {{ page.started }}</li>
  {% if page.finished %}<li>Finished: {{ page.finished }} (duration: {{ days_diff }} days){% endif %}</li>
  <li>Location: {{ page.location }}</li>
</ul>

{{ content }}