---
layout: blank
css:
  - site.css
  - chantier.css

hidden: true
title: title
started:
ended:
modified:
featured:
location:
permalink:
href: 
    - ["int/ext", "citation", "label", "target"]
tech:
labels:
---

{% comment %} CALCULATE PROJECT DURATION {% endcomment %}
{% assign ended_sec = page.started  | date: '%s' %}
{% assign started_sec  = page.ended | date: '%s' %}
{% assign seconds_diff = started_sec | minus: ended_sec %}
{% assign days_diff = seconds_diff | divided_by: 86400 | plus: 1 %}

<metadata>
    <div class="metadata-content">
    <h1><a href="/" onclick="back(event)">←</a> {{ page.title }}</h1>
    <table>
        <tr>
        {% if page.featured %}
        <tr>
            <th>featured</th>
            <td>✭</td>
        </tr>
        {% endif %}
        {% if page.ended == page.started %}
        {% unless page.ended == nil %}
        <tr>
            <th>posted</th>
            <td><span title="{{ page.started | date: "%d.%m.%Y %H:%M"}}">{{ page.started | date: "%d.%m.%Y" }}</span>
            </td>
        </tr>
        {% endunless %}
        {% else %}
        <tr>
            <th>started</th>
            <td><span title="{{ page.started | date: "%d.%m.%Y %H:%M"}}">{{ page.started | date: "%d.%m.%Y" }}</span>
            </td>
        </tr>
            {% if page.ended %}
            <tr>
                <th>ended</th>
                <td>
                    <span onclick="toggleDaysDiff(this)" style="cursor: default" title="{{ page.ended }}">
                        {{ page.ended | date: "%d.%m.%Y" }}
                        <span class="days-diff" style="display: none">({{ days_diff }})</span>
                    </span>
                </td>
            </tr>
            {% endif %}
        {% endif %}
        {% if page.modified %}
        <tr>
            <th>modified</th>
            <td><span title="{{ page.modified | date: "%d.%m.%Y %H:%M"}}">{{ page.modified | date: "%d.%m.%Y" }}</span>
        </tr>
        {% endif %}
        {% if page.location %}
        <tr>
            <th>location</th>
            <td>{{ page.location }}</td>
        </tr>
        {% endif %}
        {% if page.tech %}
        <tr>
            <th>tech</th>
            <td>{{ page.tech | join: ", "}}</td>
        </tr>
        {% endif %}
        {% if page.labels %}
        <tr>
            <th>label{% if page.labels.size > 1%}s{% endif %}</th>
            <td>{{ page.labels | join: ", "}}</td>
        </tr>
        {% endif %}
    </table>
    {% if page.description %}
        {{ page.description }}
    {% endif %}
        <div class="href">
    {% for href in page.href %}
    {% if href[0] == "int" %}
        <p>{{ href[1] }} <a href="{% link {{ href[3] }} %}">{{ href[2]}}</a></p>
    {% else if href[0] == "ext" %}
        <p>{{ href[1] }} <a href="{{ href[3]}}" target="_blank" rel="noopener noreferrer">{{ href[2] }}</a></p>
    {% else %}
    {% endif %}
    {% endfor %}
    </div>

</div>
</metadata>

<data>
<div class="data-content">
{{ content }}
</div>
</data>

<script>
function toggleDaysDiff(element) {
    const daysDiffSpan = element.querySelector('.days-diff');
    daysDiffSpan.style.display = daysDiffSpan.style.display === 'none' ? 'inline' : 'none';
}
</script>
<script>
function back(event) {
    event.preventDefault();
    if (document.referrer && document.referrer.includes(window.location.host)) {
        history.back();
    } else {
        window.location.href = '/';
    }
}
</script>