---
layout: chantier-full
---

{% assign image_files = site.static_files | where_exp: "file", "file.path contains '{{ include.source }}'" | where_exp: "file", "file.extname == '.jpg'" %}

<div id="random-image-container"></div>

<style>
  #random-image-container {
    margin: 20px 0;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const images = [
      {{ include.images }}
    ];
    
    const container = document.getElementById('random-image-container');
    let autoRefreshTimer;
    
    function displayRandomImage() {
      if (images.length > 1) {
        const randomIndex = 1 + Math.floor(Math.random() * (images.length - 1));
        [images[0], images[randomIndex]] = [images[randomIndex], images[0]];
      }
      const img = document.createElement('img');
      img.src = images[0];
      container.innerHTML = '';
      container.appendChild(img);
      clearTimeout(autoRefreshTimer);
      autoRefreshTimer = setTimeout(displayRandomImage, 15000);
    }
    displayRandomImage();
    container.addEventListener('click', displayRandomImage);
  });
</script>

