---
layout: blank
css:
  - chantier.css

hidden: true
title: title
created:
ended:
modified:
highlighted:
location:
permalink:
href: 
    - ["int/ext", "citation", "label", "target"]
tech:
result:
---

{% comment %} CALCULATE PROJECT DURATION {% endcomment %}
{% assign ended_sec = page.created  | date: '%s' %}
{% assign created_sec  = page.ended | date: '%s' %}
{% assign seconds_diff = created_sec | minus: ended_sec %}
{% assign days_diff = seconds_diff | divided_by: 86400 | plus: 1 %}

<metadata>
    <h1><a href="/" onclick="back(event)">←</a> {{ page.title }}</h1>
    <table>
        <tr>
        {% if page.highlighted %}
        <tr>
            <th>highlight</th>
            <td>✭</td>
        </tr>
        {% endif %}
        {% if page.ended == page.created %}
        {% unless page.ended == nil %}
        <tr>
            <th>created</th>
            <td><span title="{{ page.created | date: "%a. %b %d, %Y %H:%M"}}">{{ page.created | date: "%d.%m.%Y" }}</span>
            </td>
        </tr>
        {% endunless %}
        {% else %}
        <tr>
            <th>{% assign now = 'now' | date: '%s' %}{% assign created_sec = page.created | date: '%s' %}{% if created_sec > now %}waiting{% else %}created{% endif %}</th>
            <td><span title="{{ page.created | date: "%a. %b %d, %Y %H:%M"}}">{{ page.created | date: "%d.%m.%Y" }}</span>
            </td>
        </tr>
            {% if page.ended %}
            <tr>
                <th>ended</th>
                <td>
                    <span onclick="toggleDaysDiff(this)" style="cursor: default" title="{{ page.ended | date: "%a. %b %d, %Y %H:%M" }}">
                        {{ page.ended | date: "%d.%m.%Y" }}
                        <span class="days-diff" style="display: none">({{ days_diff }})</span>
                    </span>
                </td>
            </tr>
            {% endif %}
            {% endif %}
            {% if page.touched %}
            <tr>
                <th>touched</th>
                <td><span title="{{ page.touched | date: "%a. %b %d, %Y %H:%M"}}">{{ page.touched | date: "%d.%m.%Y" }}</span>
                </tr>
            {% endif %}
            {% if page.result %}
            <tr>
                <th>result</th>
                <td>{{ page.result | join: ", "}}</td>
            </tr>
            {% endif %}
        {% if page.location %}
        <tr>
            <th>location{% if page.location.size > 1 %}s{% endif %}</th>
            <td>
                {% if page.location.size > 1 %}
                    {{ page.location | join: ", " }}
                {% else %}
                    {{ page.location }}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if page.tech %}
        <tr>
            <th>tech</th>
            <td>{{ page.tech | join: ", "}}</td>
        </tr>
        {% endif %}
    </table>
    {% if page.description %}
        <p>{{ page.description }}</p>
    {% endif %}
        <div class="href">
    {% for href in page.href %}
    {% if href[0] == "int" %}
        <p>{{ href[1] }} <a href="{% link {{ href[3] }} %}">{{ href[2]}}</a></p>
    {% else if href[0] == "ext" %}
        <p>{{ href[1] }} <a href="{{ href[3]}}" target="_blank" rel="noopener noreferrer">{{ href[2] }}</a></p>
    {% else %}
    {% endif %}
    {% endfor %}
    </div>
</metadata>

<data>
{{ content }}
</data>

<script>
function toggleDaysDiff(element) {
    const daysDiffSpan = element.querySelector('.days-diff');
    daysDiffSpan.style.display = daysDiffSpan.style.display === 'none' ? 'inline' : 'none';
}
</script>
<script>
function back(event) {
    event.preventDefault();
    if (document.referrer && document.referrer.includes(window.location.host)) {
        history.back();
    } else {
        window.location.href = '/';
    }
}
</script>